<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand">MyTODO</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if not user.name %}
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      {% if user.name %}
      <li class="nav-item mr-4">
        <a class="nav-link" href="/notes">Notes</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-secondary" href="/logout">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
